

@media (max-width:800px)  {
    .menu{width:100%;
    height:100%;}
    .mainContent{width:100%;
        height:100%;}
        .page{width:100%;
            height:100%;}

}

  *{max-width: 2000px;
    max-height: 100%;
    margin:0 auto;}
*::-webkit-scrollbar {
    display: none;
    
}
body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    max-width: 100%;
    height:100%;
    -webkit-box-shadow: 2px 0px 0px 0px #ff0000, 0px 2px 0px 0px #ff3700, -2px 0px 0px 0px #0000ff, 0px 0px 0px 2px #DA635D, 2px 2px 3px 2px #ff4f4f; 
    box-shadow: 2px 0px 50px 0px #ff0606, 0px 2px 0px 0px #990202, -2px 0px 0px 0px #FF4F4F, 0px 0px 0px 2px #DA635D, 2px 2px 3px 1px #ff4f4f;
        border-radius: 8vh;
     

}

.page {

    max-width: 100%;
    height:100%;
    font-family: 'Courier New', Courier, monospace;
    display: grid;
    grid-template-columns: 2fr 13fr;
    grid-template-rows: 1fr 99fr;
    grid-template-areas: 'menu header'
        'menu mainContent'
        'menu footer'
    ;
}

.mainContent {
    box-sizing: flex-wrap;
    grid-area: mainContent;
    background-color: rgb(0, 0, 0);
    color: white;
    max-width: 90%;
    height:100%;

}

.mainContent:nth-child(3n+1) {
    clear: left;

}

.header {
    grid-area: header;
    color:white;
    height: 10vh;
    border-radius: 12px;
    width: 20vh;
}

.menu {
    position:relative;
    top: 1%;
    grid-area: menu;
    width: 10vh;
    height: 50vh;
    z-index: 1;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}



/*/MENUBUTTONS/*/
.a:hover,.b:hover,.c:hover,.d:hover,.e:hover,.myProfile:hover{
    cursor: pointer;
    background-color: #FF4F4F;
}
.a {
    background-color: #990202;
    width: 145px;
    height: 50px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    -webkit-box-shadow: 2px 0px 0px 0px #ff0000, 0px 2px 0px 0px #ff3700, -2px 0px 0px 0px #0000ff, 0px 0px 0px 2px #DA635D, 2px 2px 3px 2px #ff4f4f; 
    box-shadow: 2px 0px 0px 0px #ff0606, 0px 2px 0px 0px #990202, -2px 0px 0px 0px #FF4F4F, 0px 0px 0px 2px #DA635D, 2px 2px 3px 1px #ff4f4f;
        border-radius: 12px;
}

.b {
    background-color: #990202;
    width: 145px;
    height: 50px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    -webkit-box-shadow: 2px 0px 0px 0px #ff0000, 0px 2px 0px 0px #ff3700, -2px 0px 0px 0px #0000ff, 0px 0px 0px 2px #DA635D, 2px 2px 3px 2px #ff4f4f; 
    box-shadow: 2px 0px 0px 0px #ff0606, 0px 2px 0px 0px #990202, -2px 0px 0px 0px #FF4F4F, 0px 0px 0px 2px #DA635D, 2px 2px 3px 1px #ff4f4f;
        border-radius: 12px;
}

.c {
    background-color: #990202;
    width: 145px;
    height: 50px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    -webkit-box-shadow: 2px 0px 0px 0px #ff0000, 0px 2px 0px 0px #ff3700, -2px 0px 0px 0px #0000ff, 0px 0px 0px 2px #DA635D, 2px 2px 3px 2px #ff4f4f; 
    box-shadow: 2px 0px 0px 0px #ff0606, 0px 2px 0px 0px #990202, -2px 0px 0px 0px #FF4F4F, 0px 0px 0px 2px #DA635D, 2px 2px 3px 1px #ff4f4f;
        border-radius: 12px;
}

.d {
    background-color: #990202;
    width: 145px;
    height: 50px;
    border-bottom-right-radius: 12px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    -webkit-box-shadow: 2px 0px 0px 0px #ff0000, 0px 2px 0px 0px #ff3700, -2px 0px 0px 0px #0000ff, 0px 0px 0px 2px #DA635D, 2px 2px 3px 2px #ff4f4f; 
    box-shadow: 2px 0px 0px 0px #ff0606, 0px 2px 0px 0px #990202, -2px 0px 0px 0px #FF4F4F, 0px 0px 0px 2px #DA635D, 2px 2px 3px 1px #ff4f4f;
        border-radius: 12px;
}

.e {
    background-color: #990202;
    width: 145px;
    height: 50px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    -webkit-box-shadow: 2px 0px 0px 0px #ff0000, 0px 2px 0px 0px #ff3700, -2px 0px 0px 0px #0000ff, 0px 0px 0px 2px #DA635D, 2px 2px 3px 2px #ff4f4f; 
    box-shadow: 2px 0px 0px 0px #ff0606, 0px 2px 0px 0px #990202, -2px 0px 0px 0px #FF4F4F, 0px 0px 0px 2px #DA635D, 2px 2px 3px 1px #ff4f4f;
        border-radius: 12px;
}

.myProfile {
    background-color: #990202;
    width: 160px;
    height: 70px;

    color: white;
    font-size: 18px;
    font-weight: bold;
    -webkit-box-shadow: 2px 0px 0px 0px #ff0000, 0px 2px 0px 0px #ff3700, -2px 0px 0px 0px #0000ff, 0px 0px 0px 2px #DA635D, 2px 2px 3px 2px #ff4f4f; 
    box-shadow: 2px 0px 0px 0px #ff0606, 0px 2px 0px 0px #990202, -2px 0px 0px 0px #FF4F4F, 0px 0px 0px 2px #DA635D, 2px 2px 3px 1px #ff4f4f;
        border-radius: 12px;

}

/*/UPLOADbtn/*/
#file1{
    color:red;
    font-size:2vh;
}
#upload_form{
    background-color:black;
    width:69vh;
    height:39vh;
    background-image: url(https://wallpapers-hd-wide.com/wp-content/uploads/2015/11/cats-watching-wallpaper-1920x1080.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid #990202;
}
.upldbtn{
    position: absolute;
    z-index: 1;
    background-color:#990202;
    border: 1px solid #FF4F4F;
    border-radius: 30%;
    height:4vh;
    font-size: 1.5em;
    background: #990202;
border: 2px solid #ffffff;
box-sizing: border-box;
border-radius: 12px;
    color:whitesmoke;
    margin-left:120vh;
    margin-top:-6vh;
}
.upldbtn:hover{
    background-color:#DA635D;
    color:black;
}


















