.modalContainer{
    height: 82vh;
    width: 51vw;
    top:10vh;
    left:15vw;
    display:grid;
    position: fixed;
    grid-template-columns:20% 80%;
    grid-template-rows: 20% 80%; 
    grid-template-areas:
                         'mainContent mainContent'
                         'footer footer';
     background-color: whitesmoke;
     z-index: 150;
     
}
.mainContentModal{
    grid-area: mainContent;
    position:relative;   
}
.modalheader{
grid-area: headderModal;
}
.closeCal{
    grid-area: footer;
    text-align: center;
    position: absolute;
    left:50vh;
    margin-top: 1vh;
    background-color: #2C3E50;
    color:white;
    width:12vh;
    height:3vh;
}
